In [752]:
%load_ext sql
%sql sqlite:///lab1.db3

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @lab1.db3'

In [753]:
## CREATE TABLE MYGRAPH TO STORE DIRECTED GRAPH

In [754]:
%%sql sqlite://
drop table if exists MyGraph;
CREATE TABLE MyGraph(
    ID VARCHAR(10), 
    Source int NOT NULL, 
    Destination int NOT NULL
);

Done.
Done.

[]

In [755]:
## STORE VALUES FROM GRAPH INTO MYGRAPH

In [756]:
%%sql 
insert into MyGraph values (1, 5, 11);
insert into MyGraph values (2, 7, 11);
insert into MyGraph values (3, 7, 8);
insert into MyGraph values (4, 3, 8);
insert into MyGraph values (5, 3, 10);
insert into MyGraph values (6, 11, 2);
insert into MyGraph values (7, 11, 9);
insert into MyGraph values (8, 11, 10);
insert into MyGraph values (9, 8, 9);

 * sqlite:///lab1.db3
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [757]:
## RETURNS ALL SOURCE VERTICES IN MYGRAPH (DISTINCT)

In [758]:
%%sql
SELECT distinct k.Source 
FROM MyGraph k

 * sqlite:///lab1.db3
Done.

[(5,), (7,), (3,), (11,), (8,)]

In [759]:
## RETURNS ALL EDGES, SUCH THAT SOURCE ID > DESITINATION ID

In [760]:
%%sql
SELECT k.Source, k.Destination 
FROM MyGraph k 
WHERE k.Source > k.Destination

 * sqlite:///lab1.db3
Done.

[(11, 2), (11, 9), (11, 10)]

In [761]:
## ADD A COLUMN OF WEIGHT TO EACH LINK

In [762]:
%%sql 
ALTER TABLE MyGraph 
ADD column Weight int;

 * sqlite:///lab1.db3
Done.

[]

In [763]:
## GENERATE RANDOM NUMBER WITH SEED

In [764]:
%sql SELECT abs(random()) % (10 - 1) + 1;

from random import random
from random import seed
from random import randint

seed(1)

for _ in range (10):
    value = randint(1, 10)
    print(value)

 * sqlite:///lab1.db3
Done.
3
10
2
5
2
8
8
8
7
4

In [765]:
## UPDATE WEIGHT COLUMN TO ASSIGN RANDOM NUMBER TO EACH LINK
## USING THE DISPLAYED VALUES FROM THE RANDOM NUMBER GENERATOR ABOVE

In [766]:
%%sql 
UPDATE MyGraph SET Weight = 3 WHERE ID = 1;
UPDATE MyGraph SET Weight = 10 WHERE ID = 2;
UPDATE MyGraph SET Weight = 2 WHERE ID = 3;
UPDATE MyGraph SET Weight = 5 WHERE ID = 4;
UPDATE MyGraph SET Weight = 2 WHERE ID = 5;
UPDATE MyGraph SET Weight = 8 WHERE ID = 6;
UPDATE MyGraph SET Weight = 8 WHERE ID = 7;
UPDATE MyGraph SET Weight = 8 WHERE ID = 8;
UPDATE MyGraph SET Weight = 7 WHERE ID = 9;

 * sqlite:///lab1.db3
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [767]:
## RETURN DISTINCT VALUES OF WEIGHT

In [768]:
%%sql 
SELECT distinct Weight
FROM MyGraph

 * sqlite:///lab1.db3
Done.

[(3,), (10,), (2,), (5,), (8,), (7,)]